*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    margin:auto;
    min-height:100px;
    background-color:#473a3af6;
    color:white;}
.logo{
    font-size: x-large;
}
.img{
    
    height:200px;
    width:200px;
}
#main{
    
    width:90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background:url("/Images/3.jpg") ;
    min-height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 90px;
}   
.main-content{
    text-align: center;
    color: white;
    width:90%;
    margin:auto;
    
    
    font-size: xx-large;
} 
.btn_1{
    text-align: center;

    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

} 
.name{
    font-size: x-large;
    border-radius: 10px;
}
  .nav-bar ul{
    list-style-type:none;
  }
  .nav-bar li{
    display:inline;
    margin:30px;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 24px;
    
  }
  #contact{
      min-height:250px;
      background-color: #3d3d3df6;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  input{
      display: block;
      
  }
  .services{
      display: inline-block;
      font-size:40px;
      margin-left: 45%;
      margin-bottom: 40px;
      font-weight: bolder;
      border-bottom: 2px solid #352828f6;
      
    }
    
    
  .para{
      font-size: 18px;
      padding:10px;
  }
  #btn:hover{
    color: #ffffff;
    background-color: #352828f6;
    outline: none;
  }
  .nav-bar li:hover{
      background-color: white;
      color:#3f3f3f;
  }
  @media (max-width : 680px){
      .header{
          flex:none;
          display: block;
          text-align: center;
      }
      #main{
          flex: none;
          display: block;
          align-items: center;
      }
  }